body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}
h1 {
    font-size: 3em;
    color: navy;
}

h2{
    font-size: 2em;
    color: blueviolet;
}
.navContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    box-sizing: border-box;

}
.navButton {
    box-sizing: border-box;
    width: 150px;
    height:30px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    border: solid 2px blue;
    background-color: blue;
    color:aliceblue;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5 em;
}